<h2><%= @user.name %> (<%= points_in_words(@user.points) %> points)</h2>

<h3>Transfers</h3>
<%= erb :transfers_table, locals: { 
  transfers: @user.transfers.point_totals_by_user.to_a,
  user: @user,
  primary_user: @user
} %>

<h3>Clicks</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>When</th>
      <th>Timeout</th>
      <th>Timeout until</th>
      <th class="numeric">Points</th>
    </tr>
  </thead>
  <tbody>
    <% @user.clicks.each do |click| %>
      <tr>
        <td><%= click.id %>-C</td>
        <td><%= precise_time click.created_at %></td>
        <td><%= distance_of_time_in_words click.timeout %></td>
        <td><%= precise_time click.next_click_allowed %></td>
        <td class="numeric"><%= points_in_words click.value %></td>
      </tr>
    <% end %>
    <tr>
      <td>&nbsp;</td>
      <td>Total</th>
      <td colspan="2"><%= distance_of_time_in_words @user.click_timeouts_total %></td>
      <td class="numeric"><%= points_in_words @user.click_points_total %></td>
    </tr>
  </tbody>
</table>