<% if @user %>
  <h2>Hey, <%= @user.name %>. You have <%= points_in_words(@user.points) %> points.</h2>
  <% if flash[:points] %>
    <aside class="notification">
      Scored <%= flash[:points] %> points!
    </aside>
  <% end %>
  <% if flash[:transfer] %>
    <aside class="notification">
      Transferred <%= flash[:transfer][:points] %> points to <%= flash[:transfer][:to] %>.
    </aside>
  <% end %>
  <% if flash[:error] %>
    <aside class="error">
      <%= flash[:error].join(", ") %>
    </aside>
  <% end %>
  <% if @user.can_click? %>
    <a href="/create-points">
      Click here to GET points!
    </a>
  <% else %>
    <h3>You can click again <%= click_time_future_in_words @user.latest_click %>.</h3>
  <% end %>
  <h2>Leaderboard</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="numeric">Points</th>
        <th class="numeric">Clicks</th>
        <th>Last click</th>
        <th>Can click</th>
        <th>Transfer points</th>
        <th class="numeric">Sent xfers</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td class="numeric"><%= points_in_words user.points %></td>
          <td class="numeric"><%= user.clicks.length %></td>
          <td><%= click_time_ago_in_words user.latest_click %></td>
          <td>
            <%= click_time_future_in_words user.latest_click %>
          </td>
          <td>
            <a href="/transfer-points/<%= user.slug %>/100">100</a>
            <a href="/transfer-points/<%= user.slug %>/250">250</a>
            <a href="/transfer-points/<%= user.slug %>/500">500</a>
            <a href="/transfer-points/<%= user.slug %>/1000">1k</a>
          </td>
          <td class="numeric"><%= user.transfers_from.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>Please log in to play!</h2>
  <p>If you don't know how to log in, slack Graham for access.</p>
<% end %>